---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="row">
    <div class="col-md-2 col-sm-12 is-hover-opaque">
      <p class="has-space-top">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
        <br><span>{{ page.author | escape }}</span>
        {%- endif -%}</p>
    </div>
    <div class="col-md-10 col-sm-12">
      <h1>{{ page.title | escape }}</h1>
    </div>
  </header>

  <div class="row">
    <div class="col-md-2 col-sm-12">
      &nbsp;
    </div>
    <div class="col-md-10 col-sm-12 has-space-top has-space-bottom">
      {{ content }}
    </div>
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
